<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="TickerSQLConnection" connectionString="Data Source=xxx.com;Initial Catalog=xxx;Persist Security Info=True;User ID=xxx;Password=xxx"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="FinProviderURL" value="https://www.marketwatch.com/investing/stock/CHANGEME" />
    <add key="FinProviderMatch" value="&lt;meta name=&quot;price&quot; content=&quot;(\d+,?\d+\.\d+)&quot;&gt;" />
    <add key="FinProviderReplace" value="CHANGEME" />
    <add key="FinProviderName" value="marketwatch" />
    <add key="SMSKeyToken" value="xxx"/>
    <add key="SMSAccount" value="xxx"/>
    <add key="SMSFrom" value="+xxx"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>